Visualisation/QT/*.pro.user
Visualisation/QT/*.pro.user.*
Visualisation/build-QT-Desktop-Debug/*
HPC/projet/Jeux-echec/*.pro.user
HPC/projet/Jeux-echec/*.pro.user.*
HPC/projet/build-Jeux-echec-Desktop-Debug/*
HPC/projet/build-Jeux-echec-Desktop-Debug/*.o
Modelisation_surfacique_ulysse/TP1/build/*
Modelisation_surfacique_ulysse/TP2/build/*
Modelisation_surfacique_ulysse/Projet/base_projets/build/*
Modelisation_Scientifique/Visu_Scientifique/*.pro.user
Modelisation_Scientifique/build-Visu_Scientifique-Desktop-Debug/*
Modelisation_Scientifique/build-Visu_Scientifique-Desktop-Release/*
Reconstruction_surface/build-imageMLS-Desktop-Debug/*
Reconstruction_surface/Tp3/*.pro.user
Reconstruction_surface/miniproj/*.o
Reconstruction_surface/miniproj/*.pro.user
